main table td, main table th {
    border: 1px solid black; 
    width: 20%;
    padding: 5px;
}
.main{
    float:left;
    border: 1px solid black;
    width: 30%;
    border-radius: 10px;
    
}
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: right;
}
label{
    float:left; padding-right:10px;
}
.main{
    float:left;
}
.field{
     text-align:right; line-height:25px;
}
.form{
     margin: 10px 0px;
    
}